[data-theme="light"] {
  --color-primary: theme("colors.teal.500");
  --color-primary-offset: theme("colors.teal.600");
  --color-secondary: theme("colors.yellow.500");
  --color-text: theme("colors.slate.900");
  --color-text-offset: theme("colors.slate.600");
  --color-background: theme("colors.slate.100");
  --color-background-offset: theme("colors.slate.200");
  --color-border: theme("colors.slate.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.teal.500");
  --color-primary-offset: theme("colors.teal.600");
  --color-secondary: theme("colors.yellow.400");
  --color-text: theme("colors.slate.100");
  --color-text-offset: theme("colors.slate.400");
  --color-background: theme("colors.slate.900");
  --color-background-offset: theme("colors.slate.800");
  --color-border: theme("colors.slate.100" / 10%);
}
