<section
  class="flex flex-col items-center justify-center gap-12 rounded-md bg-teal-9 py-6"
>
  <div
    class="mx-auto flex w-3/4 flex-col items-center justify-center gap-2 text-center"
  >
    <h2 class="text-3xl font-bold capitalize md:text-4xl">
      Boost Your Team's Potential and Enhance Collaboration
    </h2>
    <p class="text-base md:text-lg">
      Want to enhance collaboration and improve communication among your team
      members? <br /> Consider using FAQMaker - the perfect tool for staying connected
      with your colleagues.
    </p>
  </div>
  <a
    href="https://app.faqmaker.co/register"
    class="hover:border-gray-A-7 rounded-md border border-grayA-6 bg-gray-12 px-4 py-2 text-lg font-bold capitalize text-gray-1"
    >Get started</a
  >
</section>
