<section
  class="flex flex-col items-center justify-center gap-12 rounded-md bg-primary py-6"
>
  <div
    class="mx-auto flex w-3/4 flex-col items-center justify-center gap-2 text-center"
  >
    <h2 class="text-3xl font-bold capitalize md:text-4xl">
      Empower your team, improve your collaboration
    </h2>
    <p class="text-base md:text-lg">
      Use FAQMaker to improve your team collaboration and communication by
      giving the possibility to your employees to communicte quickly and easily
    </p>
  </div>
  <a
    href="https://app.faqmaker.co/register"
    class="rounded-md border border-default bg-default px-4 py-2 text-lg font-bold capitalize hover:bg-offset"
    >Get started</a
  >
</section>
