---
import { Accordion, AccordionItem } from "accessible-astro-components";
import ContentSection from "./content-section.astro";
---

<ContentSection title="FAQ" id="faq">
  <Fragment slot="lead">
    Answers to common questions to better help you understand <span
      class="text-primary">FAQMaker</span
    >
  </Fragment>
  <Accordion class="border-none">
    <AccordionItem header="What is FAQMaker ?" class="border-none bg-offset">
      <p>FAQMaker is</p>
    </AccordionItem>
    <AccordionItem header="Why FAQMaker ?" class="border-none bg-offset">
      <p>
        FAQMaker centralizes all company knowledge, making it easy for employees
        to ask questions, find answers, and share information in one organized
        platform.
      </p>
    </AccordionItem>
    <AccordionItem
      header="Do I need a credit card to get started ?"
      class="border-none bg-offset"
    >
      <p>
        Nope! Simply create an account with the free plan and you can start
        using FAQMaker.
      </p>
    </AccordionItem>
    <AccordionItem header="How do I cancel my FAQMaker subscription ?">
      <p>
        Canceling your FAQMaker subscription is quick and hassle-free. Simply
        log in to your account, navigate to the 'Billing' section, and follow
        the straightforward cancellation instructions. Your subscription can be
        canceled in a matter of minutes.
      </p>
    </AccordionItem>
    <AccordionItem
      header="How can I get in touch with the FAQMaker support team ?"
    >
      <p>
        Our support team is here to assist you through email. You can reach us
        at <a
          class="font-semibold underline hover:text-secondary"
          href="mailto:contact@faqmaker.co">contact@faqmaker.co</a
        > for any questions, assistance, or inquiries you may have. <br /> We
        value your feedback and questions, and our dedicated team is committed
        to providing timely and helpful responses via email. <br /> Feel free to
        contact us whenever you need assistance or have any concerns.
      </p>
    </AccordionItem>
  </Accordion>
</ContentSection>
