---
import ContentSection from "./content-section.astro";
import { Icon } from "astro-icon/components";
---

<ContentSection title="FAQ" id="faq">
  <Fragment slot="lead">
    Answers to common questions to better help you understand <span
      class="text-teal-11">FAQMaker</span
    >
  </Fragment>
  <div class="flex w-full flex-col gap-4">
    <details
      class="w-full cursor-pointer rounded-md border border-gray-6 bg-gray-3 p-4 [&_svg]:open:rotate-90"
    >
      <summary
        class="flex list-none items-center justify-between text-xl font-semibold"
      >
        <span>What is FAQMaker ?</span>
        <Icon
          name="mdi:chevron-right-circle-outline"
          class="h-6 w-6 rotate-0 transform transition-all duration-300"
        />
      </summary>
      <p class="px-4 py-8">FAQMaker is ...</p>
    </details>

    <details
      class="w-full cursor-pointer rounded-md border border-gray-6 bg-gray-3 p-4 [&_svg]:open:rotate-90"
    >
      <summary
        class="flex list-none items-center justify-between text-xl font-semibold"
      >
        <span>Why do I need FAQMaker ?</span>
        <Icon
          name="mdi:chevron-right-circle-outline"
          class="h-6 w-6 rotate-0 transform transition-all duration-300"
        />
      </summary>
      <p class="px-4 py-8">
        FAQMaker centralizes all company knowledge, making it easy for employees
        to ask questions, find answers, and share information in one organized
        platform.
      </p>
    </details>

    <details
      class="w-full cursor-pointer rounded-md border border-gray-6 bg-gray-3 p-4 [&_svg]:open:rotate-90"
    >
      <summary
        class="flex list-none items-center justify-between text-xl font-semibold"
      >
        <span>Do I need a credit card to get started ?</span>
        <Icon
          name="mdi:chevron-right-circle-outline"
          class="h-6 w-6 rotate-0 transform transition-all duration-300"
        />
      </summary>
      <p class="px-4 py-8">
        Nope! Simply create an account with the free plan and you're good to go.
      </p>
    </details>

    <details
      class="w-full cursor-pointer rounded-md border border-gray-6 bg-gray-3 p-4 [&_svg]:open:rotate-90"
    >
      <summary
        class="flex list-none items-center justify-between text-xl font-semibold"
      >
        <span>How do I cancel my FAQMaker subscription ?</span>
        <Icon
          name="mdi:chevron-right-circle-outline"
          class="h-6 w-6 rotate-0 transform transition-all duration-300"
        />
      </summary>
      <p class="px-4 py-8">
        Canceling your FAQMaker subscription is quick and hassle-free. <br />
        Simply log in to your account, navigate to the 'Billing' section, and follow
        the straightforward cancellation instructions. Your subscription can be canceled
        in a matter of minutes.
      </p>
    </details>

    <details
      class="w-full cursor-pointer rounded-md border border-gray-6 bg-gray-3 p-4 [&_svg]:open:rotate-90"
    >
      <summary
        class="flex list-none items-center justify-between text-xl font-semibold"
      >
        <span>Can I report a bug / request a feature ?</span>
        <Icon
          name="mdi:chevron-right-circle-outline"
          class="h-6 w-6 rotate-0 transform transition-all duration-300"
        />
      </summary>
      <p class="px-4 py-8">
        Yeah! If you find any bug or want a feature added just contact us at
        <a href="mailto:contact@faqmaker.co">
          <span class="font-semibold hover:text-teal-11">
            contact@faqmaker.co
          </span>
        </a><br /> Our dedicated team will answer in the shortest delay to ensure
        that your experience with FAQMaker remains the best.
      </p>
    </details>
  </div>
</ContentSection>
