---
import { Accordion, AccordionItem } from "accessible-astro-components";
import ContentSection from "./content-section.astro";
---

<ContentSection title="FAQ" id="faq">
  <Fragment slot="lead">Find answers to your questions</Fragment>
  <Accordion>
    <AccordionItem
      header="How user-friendly is FAQMaker, and is it easy for employees to use ?"
      class="border-none bg-offset"
    >
      <p>
        FAQMaker is designed with user-friendliness in mind. Its intuitive
        interface ensures that employees can easily navigate the platform, ask
        questions, find answers, and contribute their knowledge effortlessly. <br
        />
         Whether you're a tech-savvy pro or a newcomer to knowledge management
        systems, you'll find FAQMaker a breeze to use. We've focused on creating
        a platform that minimizes the learning curve, ensuring a smooth and
        enjoyable experience for all users.
      </p>
    </AccordionItem>
    <AccordionItem
      header="How can FAQMaker streamline our internal knowledge management ?"
      class="border-none bg-offset"
    >
      <p>
        FAQMaker centralizes all company knowledge, making it easy for employees
        to ask questions, find answers, and share information in one organized
        platform.
      </p>
    </AccordionItem>
    <AccordionItem
      header="How can FAQMaker help reduce the time employees spend searching for information ?"
      class="border-none bg-offset"
    >
      <p>
        FAQMaker's intelligent search and categorization features ensure that
        employees can quickly find the information they need, reducing search
        time and increasing productivity.
      </p>
    </AccordionItem>
    <AccordionItem header="How do I cancel my FAQMaker subscription ?">
      <p>
        Canceling your FAQMaker subscription is quick and hassle-free. Simply
        log in to your account, navigate to the 'Billing' section, and follow
        the straightforward cancellation instructions. Your subscription can be
        canceled in a matter of minutes.
      </p>
    </AccordionItem>
    <AccordionItem
      header="How can I get in touch with the FAQMaker support team ?"
    >
      <p>
        Our support team is here to assist you through email. You can reach us
        at <a
          class="font-semibold underline hover:text-secondary"
          href="mailto:contact@faqmaker.co">contact@faqmaker.co</a
        > for any questions, assistance, or inquiries you may have. <br /> We
        value your feedback and questions, and our dedicated team is committed
        to providing timely and helpful responses via email. <br /> Feel free to
        contact us whenever you need assistance or have any concerns.
      </p>
    </AccordionItem>
  </Accordion>
</ContentSection>
