---
import { Icon } from "astro-icon";
import ContentSection from "@/components/content-section.astro";
import type { FeatureItem } from "@/types";

const features: Array<FeatureItem> = [
  {
    title: "Questions / Answers",
    description: "FAQMaker is a hybrid between a Wiki and Stack Overflow.",
    icon: "ic:baseline-question-answer",
  },
  {
    title: "Intuitive editor",
    description: "Write detailed answers with its intuitive Markdown editor.",
    icon: "mdi:feather",
  },
  {
    title: "Customizable",
    description: "Use your brand's colors to make it your site.",
    icon: "ion:ios-color-palette",
  },
  {
    title: "Slack Integration",
    description: "Connect your FAQMaker to Slack to never miss a new question.",
    icon: "mdi:graph",
  },
  {
    title: "Search",
    description: "Quickly find the information you're looking for.",
    icon: "cil:magnifying-glass",
  },
  {
    title: "Categorization",
    description:
      "Create your categories to better organize your questions.",
    icon: "mdi:tag",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    FAQMaker gives you the tools to build an <span class="text-primary"
      >internal knowledge base</span
    >. It allows your employees to <span class="text-primary"
      >quickly ask questions</span
    > and receive answers from colleagues.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="group/item flex flex-col items-center gap-4 rounded-md border border-default bg-offset p-6 hover:border-primary">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3 group-hover/item:border-primary group-hover/item:text-primary">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl group-hover/item:text-primary">
            {title}
          </p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
