---
import { Icon } from "astro-icon";
import type { FooterLink } from "@/types";

const links: Array<FooterLink> = [
  {
    url: "/",
    text: "Terms",
  },
  {
    url: "/",
    text: "Privacy",
  },
];
---

<footer class="relative flex items-center justify-between px-8 pb-2 text-xs">
  <p>© 2023 FAQMaker</p>
  <ul class="relative flex items-center gap-4">
    {
      links.map((link) => (
        <li>
          <a class="link" href={link.url}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</footer>
