---
import type { FooterLink } from "@/types";

const links: Array<FooterLink> = [
  {
    url: "/",
    text: "Terms",
  },
  {
    url: "/",
    text: "Privacy",
  },
];
---

<footer class="bg-offset px-8 py-2">
  <div class="mx-auto flex w-3/4 items-center justify-between">
    <p><span class="text-xl font-bold text-primary">FAQMaker</span></p>
    <ul class="relative flex items-center gap-4 text-sm">
      {
        links.map((link) => (
          <li>
            <a class="link" href={link.url}>
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
