<section
  class="relative h-full bg-gradient-to-b from-black via-black to-teal-700"
>
  <div
    class="mx-auto flex h-full flex-col items-center justify-center px-8
  text-center text-white md:w-3/4"
  >
    <div class="mb-12 flex flex-col gap-4">
      <h2 class="text-5xl font-bold">
        Centralize your company's internal knowledge
      </h2>
      <p class="text-xl font-bold text-secondary">Ask once. Keep forever.</p>
    </div>
  </div>
</section>
