---
import { WaitlistMini } from "./Waitlist";
---

<section
  class="relative h-full bg-gradient-to-b from-black via-black to-teal-700"
>
  <div
    class="mx-auto flex h-full w-3/4 flex-col items-center
  justify-center text-center text-white"
  >
    <div class="mb-12">
      <h2 class="font-bold text-5xl">
        Centralize your company's internal knowledge
      </h2>
      <p>Your company's knowledge base, by your team, for your team.</p>
    </div>
    <WaitlistMini client:load />
  </div>
</section>
