---
import { Icon } from "astro-icon/components";
import ContentSection from "./content-section.astro";
---

<ContentSection title="Pricing" id="pricing">
  <Fragment slot="lead">Choose the right plan for your team.</Fragment>
  <ul class="grid max-w-6xl grid-cols-1 gap-8 md:grid-cols-3">
    <li
      class="relative self-stretch rounded-md border border-gray-6 bg-gray-3 px-6 pb-6 pt-16"
    >
      <h3 class="absolute left-4 top-4 text-xs font-bold">Free</h3>
      <p class="text-3xl font-bold">
        $0<span class="text-xs font-normal">/mo</span>
      </p>
      <ul class="my-6 flex flex-col gap-2">
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm"><span class="font-bold">5</span> users</p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">
            <span class="font-bold">Unlimited</span> questions
          </p>
        </li>
        <li class="flex items-center gap-2 opacity-80">
          <Icon name="mdi:close-circle-outline" class="h-5 w-5" />
          <p class="text-sm line-through">Slack integration</p>
        </li>
        <li class="flex items-center gap-2 opacity-80">
          <Icon name="mdi:close-circle-outline" class="h-5 w-5" />
          <p class="text-sm line-through">Theme personalization</p>
        </li>
      </ul>
      <a
        href="https://app.faqmaker.co/register"
        class="block w-full rounded-md border border-tealA-7 bg-teal-surfaceDark px-4 py-2 text-center font-bold text-tealA-11 transition-all duration-300 hover:border-tealA-8"
        >Get Started</a
      >
    </li>
    <li
      class="relative self-stretch rounded-md border border-teal-6 bg-teal-9 px-6 pb-6 pt-16"
    >
      <h3 class="absolute left-4 top-4 text-xs font-bold">Startup</h3>
      <p class="text-3xl font-bold">
        $19<span class="text-xs font-normal">/mo</span>
      </p>
      <ul class="my-6 flex flex-col gap-2">
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm"><span class="font-bold">100</span> users</p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">
            <span class="font-bold">Unlimited</span> questions
          </p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">Slack integration</p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">Theme personalization</p>
        </li>
      </ul>
      <a
        href="https://app.faqmaker.co/register"
        class="block w-full rounded-md border border-transparent bg-gray-12 px-4 py-2 text-center font-bold text-teal-9"
        >Get Started</a
      >
    </li>
    <li
      class="relative self-stretch rounded-md border border-teal-6 bg-teal-9 px-6 pb-6 pt-16"
    >
      <h3 class="absolute left-4 top-4 text-xs font-bold">Enterprise</h3>
      <p class="text-3xl font-bold">
        $29<span class="text-xs font-normal">/mo</span>
      </p>
      <ul class="my-6 flex flex-col gap-2">
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm"><span class="font-bold">Unlimited</span> users</p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">
            <span class="font-bold">Unlimited</span> questions
          </p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">Slack integration</p>
        </li>
        <li class="flex items-center gap-2">
          <Icon name="mdi:check-circle-outline" class="h-5 w-5 text-gray-12" />
          <p class="text-sm">Theme personalization</p>
        </li>
      </ul>
      <a
        href="https://app.faqmaker.co/register"
        class="border block w-full rounded-md border-transparent bg-gray-12 px-4 py-2 text-center font-bold text-teal-9"
        >Get Started</a
      >
    </li>
  </ul>
</ContentSection>
