---
import faqMakerRegister from "@/assets/FAQMaker-Register.mp4";
import faqMakerRegisterImg from "@/assets/FAQMaker-Register.png";
import faqMakerUsers from "@/assets/FAQMaker-Users.mp4";
import { Image } from "astro:assets";
---

<ul class="flex flex-col gap-16">
  <li
    class="flex flex-col items-center justify-center gap-4 md:grid md:grid-cols-2"
  >
    <video
      loop
      autoplay
      muted
      class="aspect-video w-full rounded-md border border-default"
    >
      <source src={faqMakerRegister} type="video/mp4" />
    </video>
    <div class="flex flex-col gap-2 px-4">
      <h3 class="text-2xl font-bold">
        Register <span class="text-primary">Quickly</span>
      </h3>
      <p>Register in 2 minutes to start using FAQMaker</p>
    </div>
  </li>
  <li
    class="flex flex-col-reverse items-center justify-center gap-4 md:grid md:grid-cols-2"
  >
    <div class="flex flex-col gap-2 px-4">
      <h3 class="text-2xl font-bold">
        Add Users <span class="text-primary">Easily</span>
      </h3>
      <p>
        Integrating new users is a breeze with FAQmaker! <br /> We offer
        multiple options to make the process as easy as possible.
      </p>
      <ul>
        <li>
          <span class="font-semibold">Automatic registration with domain</span>:
          Users who share your company's domain name will be able to log in to
          the app automatically using their email address.
        </li>
        <li>
          <span class="font-semibold">Bulk upload with CSV</span>: Save time by
          adding multiple users at once through uploading a CSV file. It's a
          simple and efficient way to populate your knowledge base.
        </li>
        <li>
          <span class="font-semibold">Manual user invitations</span>: Enter
          individual email addresses to send user invitations. We'll take care
          of the rest!
        </li>
      </ul>
    </div>
    <video
      loop
      autoplay
      muted
      class="aspect-video w-full rounded-md border border-default"
    >
      <source src={faqMakerUsers} type="video/mp4" />
    </video>
    <li
      class="flex flex-col items-center justify-center gap-4 md:grid md:grid-cols-2"
    >
      <Image
        src={faqMakerRegisterImg}
        alt=""
        class="rounded-md border border-default"
      />
      <div class="flex flex-col gap-2 px-4">
        <h3 class="text-xl font-bold">Bonus: Enhance your Experience</h3>
      </div>
    </li>
  </li>
</ul>
