---
import ContentSection from "@/components/content-section.astro";
import { Image } from "astro:assets";
import faqMakerRegister from "@/assets/FAQMaker-Register.png";
import faqMakerUsers from "@/assets/FAQMaker-Users.png";
---

<ContentSection title="Getting started" id="start">
  <Fragment slot="lead">
    Begin your journey with FAQMaker in a <span class="text-primary"
      >few simple steps</span
    >.
  </Fragment>
  <ul class="flex flex-col gap-16">
    <li
      class="flex flex-col items-center justify-center gap-4 md:grid md:grid-cols-2"
    >
      <div class="relative">
        <Image
          src={faqMakerRegister}
          alt=""
          class="rounded-md border border-default"
        />
        <p
          class="absolute -left-3 -top-3 flex h-10 w-10 items-center justify-center rounded-full bg-offset text-xl font-bold shadow-xl"
        >
          1
        </p>
      </div>
      <div class="flex flex-col gap-2 px-4">
        <h3 class="text-xl font-bold">Create an Account</h3>
        <ul class="list-decimal">
          <li>
            Begin by entering your company's name and email. If you have a
            personalized domain name, you can use it to add an easier way for
            users to log in.
          </li>
          <li>
            Provide your personal email address, which you will use to log in to
            the app.
          </li>
          <li>
            Next, choose the plan that best suits your needs. We offer three
            different plans, each tailored to specific requirements and budget
            considerations.
          </li>
        </ul>
        <a
          class="w-fit rounded-md bg-offset px-8 py-1 font-bold uppercase hover:text-primary"
          style={{ fontVariants: "small-caps" }}
          href="#pricing">Plans</a
        >
      </div>
    </li>
    <li
      class="flex flex-col-reverse items-center justify-center gap-4 md:grid md:grid-cols-2"
    >
      <div class="flex flex-col gap-2 px-4">
        <h3 class="text-xl font-bold">Add Users</h3>
        <div>
          Adding users to your FAQMaker account is easy and flexible.
          <br />
           You have three convenient options:
          <ul class="list-disc">
            <li>
              <b>Automatic Registration with Domain:</b> Users with an email
              address sharing your company's domain name can automatically log
              in to the app.
            </li>
            <li>
              <b>Bulk Upload with CSV:</b> Add multiple users at once by
              uploading a CSV file. It's a time-saving and efficient way to
              populate your knowledge base.
            </li>
            <li>
              <b>Manual User Invitations:</b> For individual user additions,
              simply enter their email, and we'll send them an invitation to
              join your knowledge-sharing platform.
            </li>
          </ul>
        </div>
      </div>
      <div class="relative">
        <Image
          src={faqMakerUsers}
          alt=""
          class="rounded-md border border-default"
        />
        <p
          class="absolute -right-3 -top-3 flex h-10 w-10 items-center justify-center rounded-full bg-offset text-lg font-bold shadow-xl"
        >
          2
        </p>
      </div>
    </li>
    <li
      class="flex flex-col items-center justify-center gap-4 md:grid md:grid-cols-2"
    >
      <div class="relative">
        <Image
          src={faqMakerRegister}
          alt=""
          class="rounded-md border border-default"
        />
        <p
          class="absolute -left-3 -top-3 flex h-10 w-10 items-center justify-center rounded-full bg-offset text-xl font-bold shadow-xl"
        >
          3
        </p>
      </div>
      <div class="flex flex-col gap-2 px-4">
        <h3 class="text-xl font-bold">Bonus: Enhance your Experience</h3>
        <div>
          In this step, you can provide users with the option to further
          customize their experience with FAQMaker by:
          <ul class="list-disc">
            <li>
              <b>Creating Tags:</b> Organize content more efficiently by
              creating custom tags and labels.
            </li>
            <li>
              <b>Changing User Roles:</b> Assign different roles to team members
              to control access and permissions.
            </li>
            <li>
              <b>Adding Slack Integration:</b> Integrate FAQMaker with Slack for
              seamless communication and knowledge sharing.
            </li>
            <li>
              <b>And More:</b> Explore additional features to tailor FAQMaker to
              your specific needs and preferences.
            </li>
          </ul>
           This bonus step allows users to take full advantage of the platform's
          advanced capabilities, ensuring a tailored and enhanced experience.
        </div>
      </div>
    </li>
  </ul>
  <p class="text-center text-3xl font-bold">
    <span class="text-primary">Congratulations!</span>🎉
    <br />
     You're ready to use FAQMaker
  </p>
</ContentSection>
