---
import ContentSection from "@/components/content-section.astro";
import { WaitlistComponent } from "@/components/Waitlist";
---

<ContentSection title="Join the waitlist" id="waitlist">
  <Fragment slot="lead">
    Be notified when <span class="text-primary">FAQMaker</span> is available
  </Fragment>
  <div>
    <WaitlistComponent client:only="react" />
  </div>
</ContentSection>
