---
import ContentSection from "@/components/content-section.astro";
import { WaitlistFull } from "./Waitlist";
---

<ContentSection title="Join the waitlist" id="waitlist">
  <Fragment slot="lead">
    Be notified when <span class="text-primary">FAQMaker</span> is available
  </Fragment>
  <WaitlistFull client:load />
</ContentSection>
